name: Update Light Schedule

on:
  schedule:
    # Запуск каждые 30 минут
    - cron: '*/30 * * * *'
  workflow_dispatch: # Кнопка для ручного запуска

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run Scraper
        # Убедитесь, что scraper.py лежит в корне репозитория!
        run: python scraper.py

      - name: Commit and Push if changes
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add schedule.json
          # Команда ниже сделает коммит ТОЛЬКО если файл изменился, иначе пропустит шаг без ошибки
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update schedule" && git push)
